doctype html
html(lang="en")
  head
    block title
      title Title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet", type="text/css", href="/static/build/screen.css", media="screen")

  body
    block content
    block scripts
