extends base

block content
  div#app

block scripts
  script(src="/static/vendor/Audiolet/src/audiolet/Audiolet.js")
  script(src="/static/vendor/jquery/dist/jquery.js")
  script(src="/static/build/app.js")
